.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80px;
  background-color: #38a169;
  color: white;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.Editor button:hover {
  background-color: #48bb78;
}

.Editor button:active {
  background-color: #48bb78;
  transform: scale(0.97);
}
